:root {
    --primary-bg: #1a1a1a;
    --secondary-bg: #2a2a2a;
    --button-bg: #2a2a2a;

    --border-color: #3a3a3a;
    --accent-border: #4a8028;
    --scroll-bg: #4a4a4a;

    --hover-bg: #2d5016;
    --hover-shadow: #3a6b1f;

    --text-primary: #e0e0e0;
    --text-white: #fff;

    --accent-error: #c43a00;

    --text-secondary: #888;
    --disabled-text: #888;
    --disabled-bg: #444;
}

BODY {
    overflow: hidden;
    background-color: transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: var(--text-primary);
    -webkit-font-smoothing: antialiased;
    outline: none;
}

INPUT {
    -webkit-user-select: auto;
    font-size: 12px;
    color: var(--text-primary);
    background-color: var(--button-bg);
    border: 1px solid var(--scroll-bg);
}

INPUT.searchbox, INPUT.gm_search {
    border: 1px solid var(--accent-border);
    border-radius: 3px;
    background-color: var(--button-bg);
    color: var(--text-primary);
    height: 24px;
    margin-top: 6px;
    padding: 4px;
}

INPUT.searchbox {
    float: right;
    margin-right: 320px;
    width: 15%;
}

INPUT.gm_search {
    width: 100%;
    margin-bottom: 5px;
}

INPUT[type="text"], INPUT[type="number"] {
    border: 1px solid var(--accent-border);
    border-radius: 2px;
    outline-color: var(--accent-border);
    background-color: var(--button-bg);
    color: var(--text-primary);
}

A {
    text-decoration: none;
    color: var(--accent-border);
    transition: color .15s;
}

A:hover {
    color: var(--hover-bg);
}

DIV.page {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 50px;
}

UL.category {
    margin: 10px;
    padding: 0;
}

UL.category LI:first-child {
    list-style: none;
    padding: 5px;
    font-size: 32px;
    color: var(--text-primary);
}

UL.category LI:first-child small {
    font-size: 14px;
    color: var(--text-secondary);
}

UL.category LI.icon {
    display: inline-block;
}

.scrollable {
    overflow: auto;
    right: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    position: absolute;
}

.btn-primary, .btn-primary-disabled {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--hover-bg)), to(var(--accent-border)));
    border: 1px solid var(--accent-border);
    color: var(--text-primary);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    cursor: pointer;
    vertical-align: middle;
    -webkit-box-shadow: inset 0 1px 0 rgba(74, 128, 40, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-primary-disabled {
    border-color: var(--scroll-bg);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--disabled-bg)), to(var(--button-bg)));
    color: var(--disabled-text);
}

.btn-primary:hover {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--hover-shadow)), to(var(--accent-border)));
    color: var(--text-white);
}

.btn-back {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--hover-bg)), to(var(--accent-border)));
    border: 1px solid var(--accent-border);
    color: var(--text-primary);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle;
    -webkit-box-shadow: inset 0 1px 0 rgba(74, 128, 40, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
    height: 24px;
}

.btn-back:hover {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--hover-shadow)), to(var(--accent-border)));
    color: var(--text-white);
}

DIV.gridicon {
    position: relative;
    -webkit-background-size: cover;
    height: 100px;
    width: 300px;
    float: left;
    margin: 3px;
    background-position: center;
    background-color: var(--button-bg);
    border-radius: 2px;
}

DIV.gridicon name {
    position: absolute;
    display: block;
    left: 0px;
    right: 0px;
    height: 18px;
    top: 0px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    color: var(--text-primary);
    padding: 8px;
    background-color: rgba(26, 26, 26, 0.8);
}

DIV.disabled name {
    text-decoration: line-through;
    color: var(--accent-error);
}

DIV.disabled {
    opacity: 0.6;
}

.topnav A {
    color: var(--text-primary);
    margin: 0px 2px;
    background-color: var(--button-bg);
    padding: 1px 5px;
    border-radius: 2px;
    text-shadow: 1px 1px 0 #000;
}

.topnav A:hover {
    background-color: var(--hover-shadow);
    color: var(--text-white);
    text-shadow: none;
}

.topnav {
    background-color: var(--button-bg);
    padding: 5px;
    border-radius: 3px;
    font-size: 11px;
}

.whiterounded {
    background-color: var(--button-bg);
    border-radius: 4px;
}

pagination {
    position: absolute;
    bottom: 4px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
    color: var(--text-primary);
}

left {
    float: left;
}

right {
    float: right;
}

loading {
    font-size: 48px;
    font-weight: bolder;
    color: var(--accent-border);
    text-align: center;
    display: block;
    margin: 64px;
}

#version {
    position: absolute;
    right: 3px;
    top: 3px;
    color: var(--text-secondary);
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    background-color: rgba(26, 26, 26, 1.0);
    border-radius: 3px;
    cursor: pointer;
    z-index: 1000;
}

.news {
    position: absolute;
    right: 50px;
    top: 75px;
}

.news_buttons {
    margin-top: 3px;
    display: block;
}

.news_buttons div {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    background: var(--button-bg);
    margin-left: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.news_buttons div.new {
    background: var(--accent-border);
}

.news_buttons div.selected.new {
    background: var(--accent-error);
}

.news_buttons div.selected {
    background: var(--hover-shadow);
}

.news_item {
    background: var(--button-bg);
    background-size: cover;
    border-radius: 8px;
    margin-right: 0px;
    margin-left: auto;
    height: 256px;
    width: 512px;
    position: relative;
}

.news_item div font {
    font-weight: normal;
    font-size: small;
    text-shadow: none;
    display: block;
}

.news_item div span:hover {
    color: var(--accent-border);
    cursor: pointer;
}

.news_item div {
    background: rgba(26, 26, 26, 0.7);
    border-radius: 0 0 8px 8px;
    display: block;
    color: var(--text-primary);
    padding: 5px;
    font-size: x-large;
    text-align: right;
    cursor: default;
    font-weight: bold;
    text-shadow: 2px 2px 1px var(--primary-bg);
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
}

/* 800x600 and lower */
@media (max-width: 800px) {
    .news_item {
        height: 128px;
        width: 256px;
    }

    .news_item div font {
        font-size: x-small;
    }

    .news_item div {
        font-size: medium;
    }
}

/* 640x480 and lower */
@media (max-width: 640px) {
    .news {
        right: 5px;
        top: 65px;
    }
}
