:root {
    --primary-bg: #1a1a1a;
    --secondary-bg: #2a2a2a;
    --button-bg: #2a2a2a;

    --border-color: #3a3a3a;
    --accent-border: #4a8028;
    --scroll-bg: #4a4a4a;

    --hover-bg: #2d5016;
    --hover-shadow: #3a6b1f;
    --hover-accent: #5cd65c;

    --text-primary: #e0e0e0;
    --text-white: #fff;
    --text-secondary: #999;
    --text-disabled: #666;

    --accent-error: #c43a00;
    --warning-accent: #4a8028;
    --accent-green: #2ae;
    --accent-green-dark: #05a;
    --accent-green-light: #5cd65c;
}

BODY {
    overflow: hidden;
    background-color: transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

INPUT {
    -webkit-user-select: auto;
    font-size: 12px;
}

A {
    text-decoration: none;
}

DIV.page {
    position: absolute;
    left: 200px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

UL.category {
    margin: 10px;
    padding: 0;
}

UL.category LI:first-child {
    list-style: none;
    padding: 5px;
    font-size: 32px;
    color: var(--accent-border);
}

UL.category LI:first-child small {
    font-size: 14px;
    color: var(--text-secondary);
}

UL.category LI.icon {
    display: inline-block;
}

.scrollable {
    overflow: auto;
    right: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    position: absolute;
}

.btn-primary {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--accent-green)), to(var(--accent-green-dark)));
    border: 1px solid var(--accent-border);
    border-color: var(--accent-green-dark) var(--accent-green-dark) #1a6600;
    color: var(--text-white);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    cursor: pointer;
    vertical-align: middle;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-primary:hover {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--hover-accent)), to(var(--accent-green)));
}

.btn-back {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--accent-green)), to(var(--accent-green-dark)));
    border: 1px solid var(--accent-border);
    border-color: var(--accent-green-dark) var(--accent-green-dark) #1a6600;
    color: var(--text-white);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    height: 24px;
}

.btn-back:hover {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--hover-accent)), to(var(--accent-green)));
}

DIV.gridicon {
    position: relative;
    -webkit-background-size: cover;
    height: 100px;
    width: 300px;
    float: left;
    margin: 3px;
    background-position: center;
}

DIV.gridicon name {
    position: absolute;
    display: block;
    left: 0px;
    right: 0px;
    height: 18px;
    top: 0px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    color: var(--primary-bg);
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
}

DIV.disabled name {
    text-decoration: line-through;
    color: var(--accent-error);
}

DIV.disabled {
    opacity: 0.6;
}

.whiterounded {
    background-color: var(--secondary-bg);
    border-radius: 4px;
    border: 1px solid var(--border-color);
}

pagination {
    position: absolute;
    bottom: 4px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
    color: var(--text-primary);
}

left {
    float: left;
}

right {
    float: right;
}

loading {
    font-size: 48px;
    font-weight: bolder;
    color: var(--text-secondary);
    text-align: center;
    display: block;
    margin: 64px;
}

.options {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 200px;
    background-color: var(--primary-bg);
}

workshopcontainer {
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    background-color: transparent;
}

workshopmessage {
    color: var(--text-white);
    text-shadow: 2px 2px black;
}

.options UL {
    background-color: var(--accent-border);
    border: 3px solid var(--hover-accent);
    margin: 8px;
    border-radius: 6px;
    list-style: none;
    padding: 4px;
}

.options UL LI {
    padding: 1px;
    margin: 0px;
    border-radius: 2px;
    -webkit-transition: all 0.2s;
    color: var(--text-white);
    font-weight: bold;
}

.options UL LI.headline {
    padding: 0px;
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    letter-spacing: -2px;
    border-radius: 4px 4px 0 0;
    color: var(--text-white);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    background-color: var(--hover-bg);
}

.options UL LI.subtitle {
    padding: 0px;
    text-align: center;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
    border-radius: 0;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.options UL LI button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    padding: 4px 8px;
    width: 100%;
    background-color: var(--hover-bg);
    margin: 0px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 18px;
    color: var(--text-white);
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.options UL LI button:hover {
    background-color: var(--accent-border);
    color: var(--text-white);
}

.options UL LI A {
    display: block;
    color: var(--text-white);
}

.options UL LI.active A {
    color: var(--accent-green-light);
    text-shadow: 0px 0px 8px rgba(92, 214, 92, 0.6);
}

.clickable {
    cursor: pointer;
    padding-left: 20px !important;
}

.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.options UL LI UL,
.options UL LI UL LI,
.options UL LI.active {
    margin: 0;
    border: 0;
    padding: 0;
}

.options UL LI UL {
    font-size: 11px;
}

.options UL LI a {
    color: rgba(255, 255, 255, 0.9);
}

.options UL LI a.active {
    color: var(--accent-green-light);
    text-shadow: 0px 0px 8px rgba(92, 214, 92, 0.6);
}

/* 1152x864 and lower */
@media (max-width: 700px) {
    workshopicon {
        margin: 0px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

/* 1024x768 and lower */
@media (max-width: 670px) {
    .options {
        width: 150px !important;
    }

    .clickable {
        padding-left: 5px !important;
    }

    DIV.page {
        left: 150px !important;
    }

    workshopicon {
        width: 170px !important;
        height: 170px !important;
        margin: 0px;
        margin-right: 1px;
        margin-bottom: 1px;
    }
}

/* 800x600 and lower */
@media (max-width: 530px) {
    .options {
        width: 130px !important;
    }

    .clickable {
        padding-left: 5px !important;
    }

    DIV.page {
        left: 130px !important;
    }

    .options UL {
        margin: 0px;
    }

    workshopicon {
        width: 90px !important;
        height: 90px !important;
        margin: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
}
